:root {
    --font-staatliches: font-family: 'Staatliches', cursive;
    --font-palanquin: font-family: 'Palanquin', sans-serif;
    --body-background: #EFF1FF;
    --body-background-light: #FEEAFA;
    --header-background: #8E9AAF;
    --header-color: #FFF;
    --body-color: #23053A;
    --body-color-light: #4A4E69;

     font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 384px;
    margin: 0 auto;
    background: var(--body-background);
    font-size: var(--font-staatliches);
}

body::before {
    content: '';
    background: var(--header-background);
    width: 100%;
    height: 27.9rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.logo {
    text-align: center;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;

}

.logo h1 {
    background: #CBC0D3;
    padding: .8rem 0 .8rem 0;
    width: 100%;
    margin-top: 3.2rem;
    /* margin-bottom: 5rem; */

    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: var(--header-color);
}

.logo p {
    display: none;
}

main {
    padding: 1.4rem 3.2rem 6rem 3.2rem;
}

main p {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--font-palanquin);
    line-height: 1.5rem;
    text-align: center;

    max-width: 30.5rem;

    color: var(--body-color);

    margin-bottom: 6.3rem;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.cards .card {
    position: relative;
    animation: appear .5s;
}

.card h2 {
    position: absolute;
    right: 0;
    color: var(--body-color-light);
    top: 1.6rem;
    right: 1.6rem;
    background: var(--body-background-light);
    padding: .1rem 2.4rem;
    border-radius: 2rem;

    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 5%;

    animation: appearH2 2.5s;
}

footer {
    display: none;
}

@keyframes appear {
    0% {
        opacity: 0;
        margin-top: 100px;
    }   

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes appearH2 {
    0% {
        margin-top: -8rem;
        opacity: 0;
    } 100% {
        margin-top: 0;
        opacity: 1;
    }
}

@media (min-width: 768px) {

    body {
        min-width: 1400px;
    }

    main p {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    body {
        width: 100%;
        margin-bottom: 55rem;
    }

    body::before {
        content: '';
        background: var(--header-background);
        width: 37.7rem;
        height: 900px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    .logo h1 {
        width: 37.7rem;
    }

    .logo p {
        display: block;
        width: 27.5rem;
        font-size: 2.4rem;
        line-height: 2rem;
        margin-top: 3.2rem;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .cards{
        margin-top: 6.4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards h2 {
        display: none;
    }

    .card img {
        width: 100%;
        transition: width 2s;
    }

    .card img:hover {
        width: 35rem;
    }

    .card-4 {
        margin-top: -20rem;
    }

    footer {
        text-align: center;
        display: block;
        font-size: 14px;
        line-height: 28px;
        color: #4A4E69;
        width: 600px;

        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', sans-serif;
    }

    footer a {
        font-weight: bold;
        color: #4A4E69;
        text-decoration: none;
    }


}

